.user-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.avatarContainer {
  margin: 32px 0 16px 0;
}
p {
  margin: 0 0 8px 0;
}
button {
  margin: 8px 0 16px 0;
}

.grid {
  justify-items: center;
}
